basePath: /api/v3
components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: hibp-api-key
      type: apiKey
host: haveibeenpwned.com
info:
  contact:
    email: frikky@shuffler.io
    name: '@frikkylikeme'
    url: https://twitter.com/frikkylikeme
  description: An API to interact with haveibeenpwned.com
  title: Have I been pwned
  version: '1.0'
openapi: 3.0.0
paths:
  /breach/{name}:
    get:
      description: ''
      parameters:
      - description: Generated by shuffler.io OpenAPI
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        default:
          description: default
          schema: {}
      summary: Get a single breached site
  /breachedaccount/{account}:
    get:
      description: The most common use of the API is to return a list of all breaches
        a particular account has been involved in. The API takes a single parameter
        which is the account to be searched for. The account is not case sensitive
        and will be trimmed of leading or trailing white spaces. The account should
        always be URL encoded.
      parameters:
      - description: Generated by shuffler.io OpenAPI
        in: path
        name: account
        required: true
        schema:
          type: string
      responses:
        default:
          description: default
          schema: {}
      summary: Get all breaches for an account
  /breaches:
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: default
          schema: {}
      summary: Get all breached sites
  /dataclasses:
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: default
          schema: {}
      summary: Get all data classes
  /pasteaccount/{account}:
    get:
      description: ''
      parameters:
      - description: Generated by shuffler.io OpenAPI
        in: path
        name: account
        required: true
        schema:
          type: string
      responses:
        default:
          description: default
          schema: {}
      summary: Get pastes for an account
schemes:
- 'https:'
securityDefinitions: {}
servers:
- url: https://haveibeenpwned.com/api/v3
